body{
    background-color:ghostwhite;
}

.title{
    color: #4c4c4e;
}

.subtitle{
    color: #9e9ea2;
}

.subtitle1{
    color: #9e9ea2;
}

.title1{
    color: ghostwhite;
}

#titlecard{
    background-color: #282829;
}