<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Science For Everyone</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bc.css">
</head>
<body>
    <div class="containter" >
        <div class="row" id="titlecard">
            <div class="col-md-12">
                <right>
                    <h1 class="title1">Data Science For Everyone</h1>
                    <h2 class="subtitle1">Data Science Bootcamp</h2>
                </right>
            </div>
        </div>
        <!-- div for basic info -->
        <div class="row" id="maininfo">
            <div class="col-md-8" id="main">
                <div id="basicinfo">
                    <h3>Información Básica</h3>
                    <table table-layout="fixed" width="100%">
                        <tr>
                            <td width="50%">
                                <h5>
                                    Horario
                                </h5>
                                <ul>
                                    <li>Martrs y Jueves 19:00-22:00 GMT-6</li>
                                </ul>
    
                            </td>
                            <td>
                                <h5>
                                    Ubicación
                                </h5>
                                <ul>
                                    <li>
                                        Remoto (se usará un servidor de Discord)
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>
                                    Fecha de Inicio
                                </h5>
                                <ul>
                                    <li>Agosto 16, 2022</li>
                                </ul>
                            </td>
                            <td>
                                <h5>Duración</h5>
                                <ul>
                                    <li>
                                        12 semanas (36 horas)
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Instruye</h5>
                                <ul>
                                    <li>S. Ruiz de Aguirre</li>
                                </ul>
                            </td>
                            <td>
                                <h5>Costo</h5>
                                <ul>
                                    <li>3000 MXN en tres pagos de 1000 MXN</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <br>
                <div id="contents">
                    <h3>Contenidos del Curso</h3>
                    El curso comprende los siguientes temas:

                    <br>
                    <br>
                    <ul>
                        <li>Manejo de terminal UNIX-like</li>
                        <li>Git y Github</li>
                        <li>Básicos de Python: Variables y estructuras de control</li>
                        <li>Manejo de datos con Pandas, Arreglos con Numpy, visualización con MatPlotLib y Seaborn</li>
                        <li>Limpieza y preprocesamiento de datos</li>
                        <li>Modelos sencillos de clasificación y regresión</li>
                        <li>Clustering y algoritmos de recomendación</li>
                        <li>Redes neuronales artificiales</li>
                        <li>Computer Vision (redes neuronales convolucionales)</li>
                        <li>Docker</li>
                        <li>AWS S3, Lambda, EC2 y RDS</li>
                        <li>Big Data con PySpark</li>

                    </ul>
                </div>

            </div>
            <div class="col-md-4" id="sidebar">
                <div id="registry">
                    <h3>Registro</h3>
                    El registro se lleva a cabo en el formulario que se muestra a continuación. En las próximas 24 horas a realizar tu registro, recibirás un correo con la liga al servidor de Discord y las instrucciones para realizar el pago. El pago para validar tu registro será de 500 MXN. Durante la primera semana de clases deberás pagar los otros 500 MXN correspondientes a las  primeras 4 semanas. Para garantizar tu estadía, durante la semana 5 y la semana 9 deberás realizar un pago de 1000 MXN en cada una.
                    <br>
                    <br>
                    En el servidor de Discord se estará publicando pretrabajo que es conveniente para facilitar el trabajo en los temas del curso.
                </div>
                <br>
                <div id="inscription">
                    <h3>Inscríbete</h3>
                    <form action="https://formsubmit.co/s@chnn.xyz" method="post">
                        <div>
                            <label for="name">Nombre:
                              <input type="text" name="name" id="name" required/>
                            </label>
                        </div>
                        <br>
                        <div>
                            <label for="email">Correo Electrónico:
                              <input type="text" name="email" id="email" required/>
                            </label>
                        </div>
                        <br>
                        <div>
                            <label>¿Quién eres y por qué te interesa el curso?</label>
                            <br />
                            <textarea name="comments" rows="12" cols="35"></textarea>
                          </div>
                        <div>
                            <input type="submit" name="submit" value="Enviar" />
                            <input type="reset" name="reset" value="Borrar" />
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>  
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="/static/js/cv.js"></script>
</body>
</html>