<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chnn.xyz</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="fbox1">
        <h1 class="title1">chnn.xyz</h1>
        <h4 class=subtitle1><a href="/cv">Resumé</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/chnnxyz/" target="_blank">Github</a></h4>
    </div>

</body>
</html>